header {
   font-family: Georgia, 'Times New Roman', Times, serif; 
   color: #333; 
   font-size: 1.2rem;
   line-height: 1.6em;
   background: #333;
   color: white; 
   padding: 2rem 0;
   position:fixed;
   left: 0;
   top: 0;
   right: 0;
} 

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
    align-items: center;
} 

.header a {
   color: white;
   text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-icon {
    display: none;
}

 .navegation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 .navegation ul li {
    display:inline-block;
}

  .navegation ul li a {
      display: block;
      padding:0.5rem 1rem;
      transition: all 0.4s linear;
      border-radius: 1.5px;
}

 .navegation ul li a:hover{
    background: #4a4a4a;
}

p{
    margin: bottom 1.6em; 
}

.btn {
    text-align: center;
}


.footer {
    background:rgb(250, 236, 249);
    padding: 1rem 0;
    text-align: center;
    margin-top: 1rem;
}


form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid rgb(228, 170, 224);
    border-radius: 2em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: justify;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid rgb(228, 170, 224);
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: rgb(228, 170, 224);
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: .5em;
  }
  

 .con1 {
  text-decoration: underline;
  color:rgb(228, 170, 224);
  text-align: center;
 }

 .p-2 {
  color:rgb(228, 170, 224);
  text-align: center;
 }

 .listas{
  color:rgb(90, 250, 75);
  text-align: left;
 }
 
 .img{
   text-align: center;
 }

 .form-check-input{
   text-align: left;
 }

 .form-check-label{
   text-align: left;
 }

 .form-group{
  text-align: center;
  color:rgb(228, 170, 224);

 }

 